.show {
  animation-name: show;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes show {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

.hide {
  animation-name: hide;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hide {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
