.addtocart {
  animation: addtocart 2s linear 1;
  offset-path: path("m 40 30, c 50 -100, 0 -300, 220 -140");
}

@keyframes addtocart {
  from {
    transform: translate(0);
  }
  to {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
